[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {ref = "45d498c1b76deaf3b394d17ccf56112fa691d160", git = "https://github.com/Rapptz/discord.py.git"}
aioschedule = "*"

[dev-packages]

[scripts]
bot = "python -u bot.py"

[requires]
python_version = "3.8"
